# Configurações da Nuvemshop
NUVEMSHOP_STORE_ID=8045641
NUVEMSHOP_ACCESS_TOKEN=seu_access_token_nuvemshop_aqui
NUVEMSHOP_USER_AGENT=lojaBia (seu_email@exemplo.com)
NUVEMSHOP_LOCATION_ID=

# Configurações do eGestor (PDV)
EGESTOR_SECURITY_TOKEN=seu_security_token_webhook_egestor_aqui
EGESTOR_PERSONAL_TOKEN=seu_personal_token_jwt_egestor_aqui

# Configurações Gerais
APP_ENV=production
APP_URL=https://middleware-loja-bia.linkfacilite.com.br
TIMEZONE=America/Sao_Paulo
SYNC_ONLY_WITH_STOCK=true
